* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  background: #f5f7fb;
  color: #293264;
  height: 100vh;
  padding: 40px 75px 25px;
  background-image: url(./images/top-right-corner.png),
    url(./images/bottom-left-corner.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, left bottom;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.title {
  margin: 10px;
  font-weight: bold;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.start-quiz {
  margin: 30px;
  width: 193px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #4d5b9e;
  color: #f5f7fb;
  font-size: 14.5px;
  border-radius: 15px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.btn {
  border: 1px solid #4d5b9e;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
}

.question {
  text-align: center;
  width: 100%;
  max-width: 760px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  margin: 20px 0;
}
.question--options {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
}
